.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage
**/results
mendixProject
**/e2e/diffs
**/screenshot
**/screenshot-results
**/artifacts
/tests/testProject/deployment
/tests/testProject/releases
/tests/testProject/packages
/tests/testProject/widgets/*JsonForms.mpk
