{
  "presets": ["C:/mx-studio/9.24.27.44794/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "C:/mx-studio/9.24.27.44794/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}